version: "3.9"

services:
  db:
    image: mysql:8.0
    container_name: BancoDeDados
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: CJJPW
      MYSQL_DATABASE: Estoque
      MYSQL_USER: CJJPW
      MYSQL_PASSWORD: CJJPW
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: always
    environment:
      PMA_HOST: db
    ports:
      - "8080:80"
    depends_on:
      - db

  web:
    build: .
    container_name: apache_php
    restart: always
    ports:
      - "80:80"
    depends_on:
      - db

volumes:
  db_data: